<div class="text-center">
    <h1 class="display-4">Создание топика</h1>
</div>
<form action="https://localhost:5001/Forum/Create" method="post">
    <input type="text" name="name" id="PostDisc" required>
    <input type="text" name="content" id="PostName" required>
    <button id="MakeRec" formmethod="post">Создать</button>
</form>
