@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="MessageShow" style="background-color:white">
    
</div>
<p></p>
<div style="background-color:white">
        <input type="text" name="Author" id="PostMessage" placeholder="Введите сообщение" required>
        <button id="SendMess" onClick="window.location.reload( true );">Отправить</button>
</div>