

<div class="column">
    <div class="container">
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2 logo"></div>
            <div class="col-lg-5"></div>
        </div>
    </div>

    <div class="w-100 row unselectable" style="color: #0E86CA"> kostyly</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> pravda</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> otvechau</div>


    <div class="">
        <div class="container">
            <div class="row">
                <div class="buttonsMoi bgtexttitle col-lg-6" style="font-size: 32px">Авторизация</div>
                <div class="w-100 row unselectable"></div>


                <div class="w-100 row unselectable"></div>
                <!--Форма входа-->
                <form action="" method="post" autocomplete="on" class="bgtext col-lg-6 textcontent unselectable form-group">
                    <p>
                        <div>Ваша почта</div>
                        <input class="form-control inputfield textcontent col-lg-12" name="Email" required="required" type="text" placeholder="mymail@mail.com" />
                    </p>
                    <p>
                        <div>Ваш пароль</div>
                        <input class="form-control inputfield textcontent col-lg-12" name="Password" required="required" type="password" placeholder="qqqqqqqq1" />
                    </p>
                    <p class="buttonsMoi">
                        <input type="checkbox" name="loginkeeping" value="loginkeeping" class=" col-lg-1 " />
                        <label for="loginkeeping">Запомнить меня</label>
                    </p>
                    <p class="">
                        <input type="submit" class="form-control textcontent inputfield" value="Войти" />
                    </p>
                    <p class="change_link">
                        Ещё не с нами?
                        <a href="@Url.Content("~/Account/Register")" class="to_subscribe">Зарегистрироваться</a>
                    </p>
                </form>

                <div class="w-100 row unselectable" style="color: #0E86CA"> Den</div>
                <div class="w-100 row unselectable" style="color: #0E86CA"> nikogda</div>
                <div class="w-100 row unselectable" style="color: #0E86CA"> ne</div>
                <div class="w-100 row unselectable" style="color: #0E86CA"> ispolzuet</div>
                <div class="w-100 row unselectable" style="color: #0E86CA"> kostyly</div>
                <div class="w-100 row unselectable" style="color: #0E86CA"> pravda</div>
                <div class="w-100 row unselectable" style="color: #0E86CA"> otvechau</div>
                <div class="w-100 row unselectable" style="color: #0E86CA"> Unlucky</div>
                <div class="w-100 row unselectable" style="color: #0E86CA"> Den</div>
            </div>
        </div>
    </div>
</div>