@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1>Пивмарафон</h1>
    <div style="color: white">
        Здесь требуется не только хорошее физическое состояние, но и наличие какой-никакой тактики. Цель соревнования - пробежать дистанцию. Однако, перед забегом, необходимо выпить столько, чтобы не только смочь добежать до финиша, но и чтобы к окончанию забега спортсмен так же остался в нетрезвом состоянии. Именнл в поиске этой тонкой грани между двумя, казалось бы, совершенно противоположными сущностями, полностью раскрывается суть этого прекрасного состязания.
    </div>
</div>