@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center"  style="color: white">
    <h1>Пивная Миля</h1>
    <div>Пивная миля - это забег на 1609 метров. Он состоит из 4 кругов по 400 м. Перед каждым кругом участники выпивают банку или бутылку пива, обычно 355 мл. В пивной миле участвуют все желающие, независимо от уровня подготовки. Для этого достаточно любить бег и пиво.</div>
    <div>
        <h3>Правила пивной мили</h3>
        1. Каждый участник выпивает 4 банки пива и пробегает 4 круга по 400 м.
    </div>
    <div>2. Пиво выпивается перед каждым кругом в транзитной зоне. Транзитная зона - это 10-метровый участок перед линией старта.</div>
    <div>3. Первая банка пива должна быть выпита в пределах последнего метра транзитной зоны, чтобы все участники пробежали ровно одну милю.</div>
    <div>4. Женщины тоже выпивают 4 пива и бегут 4 круга. По старым правилам женщины пили только 3 пива.</div>
    <div>5. Предпочтительно пить пиво в банках. Объем каждой банки должен быть не меньше 355 мл (12 унций). Разрешено пить и бутылочное пиво, если его объем не меньше 355 мл.</div>
    <div>6. Запрещено пить из емкостей, приспособленных для более быстрого выпивания пива (например, бутылки с широким горлышком).</div>
    <div>7. Нельзя пробивать или прокалывать пивные банки. Открывать можно только рукой. Запрещено вставлять трубочки в бутылки и использовать любые другие приспособления, увеличивающие скорость питья.</div>
    <div>8. Крепость пива должна быть минимум 5 градусов и это должно быть именно пиво, а не пивной напиток, сидр, алкогольный коктейль.</div>
    <div>9. Нельзя открывать пиво вне транзитной зоны. Это правило действует для каждого этапа.</div>
    <div>10. Участники, которых вырвало на дистанции, должны пробежать один штрафной круг сразу после основных 4 кругов.</div>
    <div>11. Если участник намерен установить официальный рекорд, нужно обязательно переворачивать каждую выпитую банку пива, чтобы доказать, что она пуста.</div>
</div>