@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center" style="color: white">
    <h1>Бирпонг</h1>
    <div>
        Это игра, в которой игроки бросают мяч для настольного тенниса через стол, стремясь попасть им в кружку или стакан с пивом, стоящий на другом конце этого стола.

        В игру обычно играют две команды, каждая из которых имеет десять кружек или стаканов с пивом на «своём» краю стола, расставленных в форме треугольника; в процессе игры каждая команда стремится по очереди поразить мячом стаканы противника. Если мячик в итоге попадает в стакан команды соперника, то содержимое стакана потребляется этой командой, а сам стакан убирается со стола. Победительницей считается команда, первой «устранившая» все стаканы противника. Если по окончании времени с обеих сторон осталось одинаковое количество «не выбитых» стаканов, объявляется «серия пенальти». Соперники по очереди выполняют броски до тех пор, пока одна из сторон не «выбьет» на один стакан больше, при одинаковом количестве выполненных бросков.
    </div>
</div>