@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center" style="color: white">
    <h1>Столитровка</h1>
    <div>
        Эта дисциплина способна занять время от одного вечера до нескольких дней. Спортсмен начинает свой забег от дверей своего дома. Его цель - составить наиболее оптимальный маршрут, в ключающий в себя все пивные заведения района и вернутся к стартовой локации. В пивных заведениях ЕСТВЕСТВЕННО надо выпивать. Сложность варьируется от квартала до всего города. Дисциплина рекоммендуется готовым на приключения и имеющим достаточное количество наличных в кармане спортсменам. Получение удовольствия - неотъемлемая часть процесса.
    </div>
</div>