@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center" style="color: white">
    <h1 class="display-4">Литрбол</h1>
    <div>Литрбол (лат. literabolia alcogolicum) — вид спорта, известный со времён Геракла и Ганнибала Лектора. В этом особо трудном виде спорта могут участвовать практически все, для участия нужна традиционная футболка, в которой участник исполняет таинственный обряд буэээ.
    Литрбол как спорт популярен у многих школьников начиная c 8го класса.
    Особо этот вид спорта популярен среди студентов института. Зачастую он более популярен среди первого курса, которые не понимают в какую жопу они попали, и пятого курса, которые устраивают ту самую жопу для первого курса, чтобы выпить на халяву.
    Характерные признаки активных литрбольщиков: вечно невыспанная (рожа) лицо, уставшее от тяжкого труда, характерный запах изо рта, именуемого «Пасть Шывы», грязная одёжка и странные звуки, которые издаёт литрбольщик: «ЫАГРХХХРРР».
    </div>
</div>