
@{
    ViewData["Title"] = "Home page";
}


<div class="column">

    <div class="w-100 row unselectable" style="color: #0E86CA"> Den</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> nikogda</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> ne</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> ispolzuet</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> kostyly</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> pravda</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> otvechau</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> Unlucky</div>
    <div class="w-100 row unselectable" style="color: #0E86CA"> Den</div>

    <div class="container ">
        <div class="row">
            <div class="buttonsMoi bgtexttitle col-lg-6" style="font-size: 32px">Алколимпиада</div>
        </div>
    </div>

    <div class="">
        <div class="container">
            <div class="row">
                <div class="bgtext col-lg-6 textcontent unselectable" style="color: #001732;opacity: 0.75">.</div>
                <div class="w-100 row unselectable"></div>
                <div class="bgtext col-lg-6 textcontent">Алколимпиада - крупнейшее событие событие в мире алкогольного спорта. В течении двух недель лучшие из лучших соревнуютя, рискуя своей печенью, за право стать победителем алкоолимпийских игр. На нашем сайте вы сможете следить за спортсменами и их рекордами или 	присоедениться к ним.</div>
                <div class="col-lg-6 row"></div>
                <div class="bgtext col-lg-6 textcontent unselectable" style="color: #001732;opacity: 0.75">.</div>
                <div class="w-100 row unselectable"></div>
                <div class="bgtext col-lg-6 textcontent unselectable" style="color: #001732;opacity: 0.75">.</div>
                <div class="w-100 row unselectable"></div>

                <div class="bgtext col-lg-6 textcontent unselectable">
                    <div class="row">
                        <div class="col-lg-1 bgtext"></div>
                        <div class="col-lg-5 bgtext">Узнать больше</div>
                        <div class="col-lg-5 bgtext">Я уже спортсмен</div>
                        <div class="col-lg-1 bgtext"></div>
                    </div>
                </div>
                <div class="w-100 row unselectable"></div>

                <div class="bgtext col-lg-6 textcontent unselectable" style="color: #001732;opacity: 0.75">.</div>
                <div class="w-100 row unselectable"></div>

            </div>
        </div>
    </div>
</div>