@page
@model History.Pages.ArticleListModel
@{
}
<div class="text-center">
    <h1 class="display-4">Список статей</h1>
    <ul id="artlist">
        <!--тут форичем подгружаем с базы список статей думаю как в чате, каждый элемент списка - название + гиперссылка на статью-->
    </ul>
</div>