@page
@model History.Pages.HPersonsModel
@{
}
<div class="text-center">
    <h1 class="display-4">Список исторических личностей</h1>
    <ul id="artlist">
        <!--тут форичем подгружаем с базы список личностей думаю как в чате, каждый элемент списка - имя личности гипперсылкой на краткую биографию + даты жизни-->
    </ul>
</div>